body{
    background-color: rgb(8, 59, 76);
}

.ms_box{
    background-color: rgb(19, 137, 178);
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}

.ms_box2{
    background-color: rgb(240, 70, 111);
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}

.ms_box3{
    background-color: rgb(12, 214, 161);
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}

.ms_box4{
    background-color: rgb(255, 209, 102);
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}

.ms_big{
   font-size: 5rem;
}